<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>17151964643273244192</string>
		<key>run_directories</key>
		<string>7 6 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_private_sjef_project_completed_job</key>
		<string>localhost:92146</string>
		<key>_status</key>
		<string>3</string>
		<key>_private_sjef_project_backend_inactive</key>
		<string>0</string>
		<key>_private_sjef_project_backend_inactive_synced</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>78153</string>
	</dict>
</plist>
